
  <div class="col s12 m8 offset-m2 valign-wrapper" id='burger-info'>
    <div class="card horizontal">
      <div class="card-image valign-wrapper">
        <img id='burger-pic'>
      </div>
      <div class="card-stacked">
        <form>
          <div class="card-content">
              <h1 id='burger-name'> </h1>
                  <ul id='burger-stat-wrapper'>
                    
                  </ul>
          </div>
          <div class="card-action center">
            <a id='edit-burger-cancel'>Cancel <i class='tiny material-icons'>cancel</i></a>
            <a id='edit-burger-update' href='#/'>Submit <i class='tiny material-icons'>check_circle</i></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{!-- <!--Import jQuery before materialize.js--> --}}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
{{!-- Import Show Javascript --}}
<script src='/js/edit_client.js' type='text/javascript'></script>