<div class='row'>
    <div class='col s12 offset-l2 l8' id='burger-select'>
        <form class='col s12 center valign-wrapper' id='burger-menu' method='POST'>
            
            <div class="input-field col s12 offset-l2 l6">
            <input id="burger_name" name="burger_name" type="text" placeholder='Add a new burger!'>
            <label for="burger_name">Burger Name</label>
            </div>
            <input type='image' src='/img/chef.png' class='right' id='burger-submit' alt='submit-burger' />
            
        </form>
    </div>
</div>

<div class="carousel flow-text" id='burger-display'>
    
</div>

{{!-- <!--Import jQuery before materialize.js--> --}}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
{{!-- Import make-a-burger logic --}}
<script type='text/javascript' src='/js/index_client.js'></script>


    
