
  <div class="col s12 m8 offset-m2 valign-wrapper" id='burger-info'>
    <div class="card horizontal">
      <div class="card-image valign-wrapper">
        <img id='burger-pic'>
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <h1 id='burger-name'> </h1>
            <ul id='burger-stat-wrapper'>
                
            </ul>
        </div>
        <div class="card-action center">
          <a id='show-burger-edit'>Edit<i class='tiny material-icons'>edit</i></a>
          <a id='show-burger-index'>Index <i class='tiny material-icons'>keyboard_return</i></a>
          <a id='show-burger-api'>API <i class='tiny material-icons'>list</i></a>
          <a id='show-burger-delete' href='#/'>Delete <i class='tiny material-icons'>delete_forever</i></a>  
        </div>
      </div>
    </div>
  </div>

{{!-- <!--Import jQuery before materialize.js--> --}}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
{{!-- Import Show Javascript --}}
<script src='/js/show_client.js' type='text/javascript'></script>